<ngb-carousel *ngIf="imageList">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="first"></div>
    </div>
    <div class="carousel-caption first-caption">
			<img src="../../../assets/Desktop/Identidade-visual---Meteora-branco-slogan 1.svg" alt="">
		</div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="second">
      </div>
    </div>
    <div class="carousel-caption second-caption">
			<h3>COLEÇÃO ATEMPORAL</h3>
			<p>Estilo e qualidade para durar. </p>
		</div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="third">
      </div>
    </div>
    <div class="carousel-caption third-caption">
			<h3>COLEÇÃO ATEMPORAL</h3>
			<p>Alto impacto visual, baixo impacto ambiental!</p>
		</div>
  </ng-template>
</ngb-carousel>