@import '../../../assets/variables';

div.product-container {
  width: 100%;

  display: grid;
  grid-gap: 3rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  div.card {
    width: 35rem;
    border-radius: 0;

    div.card-img {
      img {
        width: 100%;
      }
    }

    div.card-body {
      padding: 1.6rem;

      display: flex;
      gap: 1.6rem;
      flex-direction: column;
      align-items: flex-start;

      p,
      h6,
      span {
        color: $font-color-dark;
      }

      h6,
      span {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
      }
    }

    div.card-footer {
      border: none;
      padding: 0 1.6rem 1.6rem;
      background-color: $white;

      button {
        border: none;
        padding-inline: 1.6rem;
        background-color: $purple;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.product-container {
    grid-template-columns: 1fr 1fr;

    div.card {
      width: 33rem;
    }
  }
}

@media screen and (max-width: 425px) {
  div.product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}