<section>
  <h2 class="section-title">Conheça todas as nossas facilidades</h2>
    <div class="facilities container">
      <div class="facilitie">
        <img src="../../../assets//Desktop//Ícones/x-diamond (2).png" alt="">
        <div class="facilitie-txt">
          <h6>PAGUE PELO PIX</h6>
          <p>Ganhe 5% OFF em pagamentos via PIX</p>
        </div>
      </div>
      <div class="facilitie">
        <img src="../../../assets//Desktop//Ícones/arrow-repeat (2).png" alt="">
        <div class="facilitie-txt">
          <h6>TROCA GRÁTIS</h6>
          <p>Fique livre para trocar em até 30 dias.</p>
        </div>
      </div>
      <div class="facilitie">
        <img src="../../../assets//Desktop//Ícones/flower1 (3).png" alt="">
        <div class="facilitie-txt">
          <h6>SUSTENTABILIDADE</h6>
          <p>Moda responsável, que respeita o meio ambiente.</p>
        </div>
      </div>
    </div>
</section>